<h1>New Log</h1>

<%= render 'form', log: @log %>

<% @logs.each do |log| %>
    <%= log.created_at.strftime('%b %e, %l:%M %p') %><br>
    <b><%= log.systolic %> / <%= log.diastolic %></b><br>
    <br>
<% end %>

<%= link_to 'Back', logs_path %>
